{%extends "django_registration/base.html"%}
{% load static %}
{%load bootstrap3 %}


{% block content %}
<div class="container">
  <div class="registration">
    <div class="regform">
      <div class="signup">
        <h1>Sign In</h1>
        <form action="/accounts/register/" method="post">
          {% csrf_token %}
          {% bootstrap_form form%}
          <button class="button submit" type="submit">Login</button>
        </form>
      </div>
    </div>
    <div class="moveleft">
      <div class="logo">
        <a href="/">Crowne Awards</a>
      </div>
      <h2></h2>
      <p class="account">Don't Have an Account?</p>
        <a href="/accounts/register/"><button class="button signup">Register</button></a>
    </div>
  </div>
</div>
{% endblock content %}