
<!-- Navbar -->
<style>
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Merienda+One&family=Merienda:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,900;1,100;1,200;1,300;1,600;1,900&display=swap');


.navbar-brand img{
    height: 40px;
    position: relative;
}

.navbar-brand {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.navbar-brand{
	color: white !important;
}
.navbar{
position: fixed;
top: 0;
width: 100%;
background: #A5F; 
background: -webkit-linear-gradient(to right, purple, #A5F);
background: linear-gradient(to right, purple, #A5F);
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CROWNE AWARDS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'profile' %}">{{ user.username }}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Api's
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/api/profiles/">Profile</a></li>
            <li><a class="dropdown-item" href="/api/projects/">Project</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/accounts/login" tabindex="-1" aria-disabled="true">Logout</a>
        </li>
				
      </ul>
      <form class="d-flex" action="{% url 'search_project_title' %}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

