/* font-family: 'Merienda', cursive;
font-family: 'Merienda One', cursive;
font-family: Roboto; */

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Merienda:wght@400;700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Roboto:700,400';



body {
  padding-top: 12rem;
  padding-bottom: 4rem;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.profile img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  object-fit: cover;
}

.prof-1{
  width: 31%;
}

.prof-2 {
  width: 38%;
  margin: 0 auto;
}


.prof-3 {
  width: 31%;
  display: flex;
  justify-content: center;
}

.username{
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: .1rem;
}
.username .fas{
  font-size: 1.6rem;
  margin-bottom: 1%;
}
.location{
  font-size: 1.2rem;
  margin-bottom: 3%;
}
.bio, .email{
  font-size: 1.4rem;
  margin-bottom: 2%;
}

.email span{
  font-size: 2rem;
  font-weight: 700;
}

label {
  padding: 0 1.3rem;
  vertical-align: middle;
  font-size: 1.3rem;
  font-weight: 900;
  color: rgba(20, 16, 16, 0.5);
  border: 1px solid rgba(20, 16, 16, 0.5);
  min-width: 2.3rem;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 5rem;
  align-self: flex-start;
  justify-self: flex-start;
}

label>span {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.project-count{
  padding: 0 6% 3%;
  display: flex;
  flex-direction: row;
}

.projects{
  font-size: 1.4rem;
  font-weight: 800;
  margin-right: 3%;
}

/* .votes{
  font-size: 1.4rem;
} */

/* projects */

.project-wrap{
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

a:hover {
  color: #2980b9;
}

h3 {
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

/* .d-flex {
  display: flex;
} */

/* .submission {
  max-width: 50%;
  padding-left: 1em;
  padding-right: 1em;
} */

.card {
  background-color: whitesmoke;
  margin-bottom: 1.6rem;
  z-index: -2;
}

.card__padding {
  padding: 1.6rem;
}

.card__content {
  position: relative;
}

.card__image {
  min-height: 8rem;
  background-color: whitesmoke;
}

.card__image img {
  width: 100%;
  max-width: 100%;
  height: 20rem ;
  display: block;
  object-fit: cover;
}

.card__article a {
  text-decoration: none;
  text-transform: capitalize;
  color: #444;
  transition: all 0.5s ease;
}

.card__article a:hover {
  color: #2980b9;
}

.card__article p{
  font-size: 1.2rem;
}

.card__meta a{
  margin-right: 0.8rem;
}

.card__meta time {
  font-size: 1.5rem;
  color: #bbb;
}

.cardprof{
  overflow: hidden;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
}


.card__profpic img,
.card__author {
  display: inline-block;
  vertical-align: middle;
}

.card__profpic img {
  object-fit: cover;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 0.6em;
}

.share-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  outline: 0;
  font-size: 1.5rem;
  box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.12),
      0 2px 4px rgba(0, 0, 0, 0.24);
}

.share-icon:hover,
.share-icon:focus {
  box-shadow:
      0 3px 6px rgba(0, 0, 0, 0.12),
      0 3px 6px rgba(0, 0, 0, 0.24);

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.card__share {
  float: right;
  position: relative;
  margin-top: -42px;
}

.b-radius {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.radius {
  border-radius: 2px;
}

#padding {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

/* .shadowDepth0 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
} */

.shadow{
  box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
}
