/* font-family: 'Merienda', cursive;
font-family: 'Merienda One', cursive; 
font-family: 'roboto', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Merienda:wght@400;700&display=swap');


body {
  padding-top: 8rem;
  color: black;
}

.scrnshot img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
}



/* Viewport */
@media (max-width: 425px) {
  #rate-form {
      width: 100% !important;
      margin: 3%;
  }

  .scrnshot img {
      width: 100%;
      height: 40vh;
      object-fit: cover;
  }

  #Rate {
      margin: 0 15%;
  }
}