/* font-family: 'Merienda', cursive;
font-family: 'Merienda One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Merienda:wght@400;700&display=swap');


body {
  padding-top: 8rem;
}

.scrnshot img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
}

.vote {
  background-color: #000;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 2%;
  font-weight: 900;
  color: whitesmoke;
}

.project_details {
  padding: 3%;
  margin-bottom: 5rem;
}

.project_title a{
  font-size: 3.4rem;
  font-weight: 900;
  margin: 2rem 0;
  color: #444;
}
.owner{
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: -1%;
  margin-bottom: 3%;
  letter-spacing: 1px;
}
.owner span a{
  color: #000;
}

.project_description {
  font-size: 1.6rem;
  margin: 0 15% 2%;
}

.d-flex{
  display: flex;
  justify-content: center;
  align-content: center;
}

.tabs {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin-top: 5rem;
}

.tablinks {
  margin: 0 2rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.tabs .tablinks:hover {
  color: #A5F;
}

.tabs .tablinks.active {
  color: purple;
}

.tabcontent {
  display: none;
  padding-top: 5rem;
}

#average, .design, .usability, .d-flex > .content{
  font-weight: 700;
  width: 9rem;
  height: 9rem;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 4px solid purple;
  border-radius: 50%;
  margin: 2rem;
}
#average{
  border: 0px;
  background: #A5F;
  color: purple;
}
.d-flex span{
  font-size: 1.4rem;
}

#Votes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 20%;
}
.vote-details, .vote-titles{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 3rem;
}

.invisible{
  visibility: hidden;
}
.vote-title{
  font-size:1.4rem ;
  margin-right: -4rem;
}
.voter-image{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}
.voter-name{
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
}
.voter-name, .content-vote, .design-vote, .usability-vote{
  align-self: center;
}
.content-vote, .design-vote, .usability-vote{
  font-size: 2rem;
}
#Rate {
  margin: 0 25%;
}

.no_vote_msg{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
}

#rate-form {
  background: #A5F;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  color: #FFF;
  padding: 2%;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .1rem;
  font-size: 3rem;
  margin-bottom: 1%;
}

hr {
  width: 50%;
}

form {
  padding: 0 3%;
}

label {
  font-size: 1.5rem;
}

.form-control {
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  color: #fff;
}

.form-control:focus {
  border: 1px solid purple;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn {
  color: #A5F;
  font-weight: 900;
}

.btn:hover {
  background: purple;

}
.guide {
  padding: 2% 15%;
  font-size: 1.5rem;
}

/* Viewport */
@media (max-width: 425px) {
  #rate-form {
      width: 100% !important;
      margin: 3%;
  }

  .scrnshot img {
      width: 100%;
      height: 40vh;
      object-fit: cover;
  }

  #Rate {
      margin: 0 15%;
  }
}