/* font-family: 'Merienda', cursive;
font-family: 'Merienda One', cursive; 
font-family: 'roboto', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Merienda:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

.container-fluid-home{
  font-family: 'roboto', sans-serif;
}





/* viewport small devices*/
@media (max-width: 767px) {
  .blog-section .card-img-top,
  .card-img-tops {
    height: 1000px;
  }
  .search-form {
    margin-left: 0px;
  }
}

.border-radius-around {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.not-found, .not-found i {
  font-size: 2em;
}





