{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}


{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/newproject.css' %}">
{% endblock %}


{% block content %}

<div class="create_project">
    <div class="text-center">
    <div class="project_title">New project</div>
    <hr>
    <div class="guide">Create a project inserting all the details as provided.</div>
    </div>
    <form action="{%url 'create_project'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}    
        {% bootstrap_form form%}
        <input type="submit" class="btn btn-dark " value=" Add Project">
    </form>
</div>
{% endblock %}