{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}


{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}


{% block content %}

<div class="scrnshot">
    <img src="{{project.screenshot.url}}" alt="...">
</div>

{% if voted %}
{% else %}
<a href="#rate-form" onclick="openTab(event, 'Rate')">
    <div class="vote text-center">Rate This Site</div>
</a>
{% endif %}
<div class="project_details text-center">
    <div class="project_title"><a href="{{project.url}}" target="_blank">{{project.name}}</a></div>
    <div class="owner">BY <span><a href="{% url 'profile' project.profile.user.id %}">{{project.profile.user.username}}</a></span> <br> FROM {{project.profile.location}}</div>
    <div class="project_description">{{project.description}}</div>
    <div class="d-flex">
        <div id="average">{{project.average_score | floatformat:0}}<span>average</span></div>
        <div class="design">{{project.average_design | floatformat:0}}<span>design</span></div>
        <div class="usability">{{project.average_usability | floatformat:0}}<span>usability</span></div>
        <div class="content">{{project.average_content | floatformat:0}}<span>content</span></div>
    </div>
    <div class="tabs">
        <div class="tablinks" onclick="openTab(event, 'Votes')" id="defaultOpen">Votes</div>
        <div class="tablinks" onclick="openTab(event, 'Rate')">Rate site</div>
    </div>
    <hr>
    <div id="Votes" class="tabcontent">
        {% if votes %}
        <div class="vote-titles">
            <img src="" alt="voter" class="invisible">
            <p class="voter-name"></p>
            <p class="vote-title ">Content</p>
            <p class="vote-title ">Design</p>
            <p class="vote-title ">Usability</p>
        </div>
        {% for vote in votes%}
        <div class="vote-details">
            <img src="{{vote.voter.profile_pic.url}}" alt="voter" class="voter-image">
            <p class="voter-name">{{vote.voter.user.username}}</p>
            <p class="content-vote">{{vote.content | floatformat:0}}</p>
            <p class="design-vote">{{vote.design | floatformat:0}}</p>
            <p class="usability-vote">{{vote.usability | floatformat:0}}</p>
        </div>
        {% endfor %}
        {% else %}
        <div class="text-center have-already">This project has no votes</div>
        {% endif %}
    </div>
    <div id="Rate" class="tabcontent">
        {% if voted %}
        <div class="text-center have-already">You have already rated this project</div>
        {% else %}
        <div id="rate-form">
            <div class="text-center">
                <div class="title">Rate project</div>
                <hr>
                <!-- <div class="guide">Rate the project based on design, usability and content.</div> -->
            </div>
            <form action="{%url 'rate_project' project_id=project.id%}" method="post">
                {%csrf_token%}
                {% bootstrap_form form%}
                <input type="submit" class="btn btn-dark " value=" Rate Project">
                <br>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}